* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: #dcedf0;
    /* color: #fff; */
}

#header {
    width: 100%;
    /* can tim hieu vh */
    height: 100vh; 
    background-image: url(/image/picture1.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 50px;
    height: 50px;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

nav ul li a {
    color: rgb(15, 14, 15);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    /* margin-top: 20%;
    padding-left: 15%;
    font-size: 30px; */
    text-align: center;
    margin-top: 20%;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

/* --------About---------- */

#about{
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 190px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    color: #000000;
    font-weight: 600;
}

.about-col-2 p {
    color: #000000;
    font-size: 20px;
    text-indent: 0.2cm;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    color: rgb(136, 132, 132);
}

.tab-contents ul li span {
    color: #000000;
    font-size: 15px;
}
.tab-contents ul li span i {
    margin: 5px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ===skill=== */
#skill {
    padding: 30px 0;
}

.title {
    font-size: 60px;
    text-align: center;
    margin-top: -100px;

}

.skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skill-list div {
    background: rgb(236, 232, 232);
    padding: 35px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}

.skill-list div h2 {
    font-size: 25px;
    font-weight: 500;
    margin-left: 5px;
    padding: 5px;
}



.skill-list div:hover {
    background: linear-gradient(rgba(230, 226, 226, 0.6), #71e78b);
    transform: translateY(-10px);
}

.social-icon {
    margin: 10px 0px;
}

.social-icon a{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin-right: 12px;
    font-size: 30px;
    transition: 0.5s;
}

.social-icon a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

#project {
    padding: 70px 0;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(230, 226, 226, 0.6), #71b8e7);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.layer p{
    font-weight: 500;
}

.layer a{
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #dcedf0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img {
    transform: scale(1.1);
}

.project:hover .layer {
    height: 100%;
}